<template>
  <div class="container">
    <h1 class="title">クリア！</h1>
    <h2 class="subtitle mt-4">タイム：{{ timeCount }}</h2>

    <h2 class="subtitle mt-4">
      <a @click="ChangeGameMode()" class="button is-medium">タイトルにもどる</a>
    </h2>
  </div>
</template>

<script lang="ts">
import store from "@/store";
import { Vue } from "vue-class-component";

export default class End extends Vue {
  get timeCount(): number {
    return store.state.timeCount;
  }
  ChangeGameMode() {
    store.dispatch("changeGameMode", 0);
  }
}
</script>
