<template>
  <div class="container">
    <div class="columns is-multiline is-mobile">
      <div class="column is-6 has-text-right">
        <h2 class="subtitle">タイム:</h2>
      </div>
      <div class="column is-6 has-text-left">
        <h2 class="subtitle">{{ timeCount }}</h2>
      </div>
      <div class="column is-3" v-for="(btn, index) in btnList" :key="index">
        <a
          :class="{
            'is-dark': !btn.isActive,
            btn_disable: !btn.isActive,
          }"
          @click="ClickButton(index)"
          class="button is-medium"
          >{{ ("00" + btn.value).slice(-2) }}</a
        >
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import store from "@/store";
import { Vue } from "vue-class-component";

const BTN_COUNT = 16;
export default class Game extends Vue {
  btnList: { value: number; isActive: boolean }[] = [];
  btnMin = 0;
  btnMax = 99;
  btnCounta = BTN_COUNT;

  intervalId = 0;

  get timeCount(): number {
    return store.state.timeCount;
  }

  mounted() {
    store.dispatch("resetTimeCount");
    this.TimeCountStart();
    this.RefreshButton();
  }

  TimeCountStart() {
    this.intervalId = setInterval(() => {
      store.dispatch("incrementTimeCount");
    }, 1000);
  }

  RefreshButton() {
    let rndValue = 0;
    this.btnList.splice(0);

    while (this.btnList.length < BTN_COUNT) {
      rndValue =
        Math.floor(Math.random() * (this.btnMax + 1 - this.btnMin)) +
        this.btnMin;

      const isPushed = this.btnList.find((btn) => {
        return btn.value === rndValue;
      });

      if (!isPushed) {
        this.btnList.push({ value: rndValue, isActive: true });
      }
    }
  }

  ClickButton(btnIndex: number) {
    const activeBtnList: number[] = [];
    // btnListからisActiveがtrueであるvalueの配列を作る
    for (let i = 0; i < this.btnList.length; i++) {
      if (this.btnList[i].isActive) {
        activeBtnList.push(this.btnList[i].value);
      }
    }

    const activeBtnMin = activeBtnList.reduce((a, b) => (a < b ? a : b));
    if (activeBtnMin == this.btnList[btnIndex].value) {
      this.btnCounta--;
      this.ClearCheck();
      this.btnList[btnIndex].isActive = false;
    }
  }

  ClearCheck() {
    if (this.btnCounta <= 0) {
      clearInterval(this.intervalId);
      store.dispatch("updateBestTime");
      store.dispatch("changeGameMode", 2);
    }
  }
}
</script>
