<template>
  <div class="container">
    <h1 class="title">タッチナンバーズ</h1>
    <h2 class="mt-6">【ルール】</h2>
    <h2>少ない番号からタップ</h2>

    <!-- <h2 class="mt-6">【ベストタイム】</h2>
    <h2>{{ bestTime || 'なし' }}</h2> -->
    <h2 class="subtitle mt-6">
      <a @click="ChangeGameMode()" class="button is-medium">スタートする</a>
    </h2>
  </div>
</template>

<script lang="ts">
import store from "@/store";
import { Vue } from "vue-class-component";

export default class Title extends Vue {

  bestTime = 0;
  mounted(){
    console.log(store.state.bestTime)
    this.bestTime = store.state.bestTime;
  }
  ChangeGameMode() {
    store.dispatch("changeGameMode", 1);
  }
}
</script>
