<template>
  <section class="hero is-fullheight" style="background-color: #d7eeff">
    <div class="hero-body">
      <transition name="fade">
        <template v-if="gameMode == 0">
          <Title />
        </template>
      </transition>

      <transition name="fade">
        <template v-if="gameMode == 1">
          <Game />
        </template>
      </transition>

      <transition name="fade">
        <template v-if="gameMode == 2">
          <End />
        </template>
      </transition>
    </div>
  </section>
</template>

<script lang="ts">
import { Options, Vue } from "vue-class-component";
import Title from "./components/Title.vue";
import Game from "./components/Game.vue";
import End from "./components/End.vue";
import store from "@/store";

@Options({
  components: {
    Title,
    Game,
    End,
  },
})
export default class App extends Vue {
  get gameMode(): number {
    return store.state.gameMode;
  }
}
</script>

<style lang="scss">
@import "../node_modules/bulma/bulma.sass";
@import url("https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c");
#app {
  font-family: "M PLUS Rounded 1c";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s ease;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}
</style>
